/node_modules
/public/hot
/public/storage
/public/uploads/
/storage/*.key
/storage/logs/laravel.log
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper*.php
.phpstorm.meta.php
html-coverage
.php_cs-fixer.cache
.editorconfig
/phpunit/
